@model task.Models.LoginModel
@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@section Body{
    <form>
        <div style="margin-top:150px">
            <div class="thumbnail">
                <!-- Email input -->
                <div class="row">
                    <div class="offset-xs-4 col-xs-4 offset-xs-4">
                        <div class="form-outline mb-4">
                        </div>
                    </div>
                    <div class="offset-xs-4 col-xs-4 offset-xs-4"style="padding-top:20px;">
                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example1" class="form-control" asp-for="Name" placeholder="example@example.com" />
                            <label class="form-label" for="form2Example1">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4" style="margin-top:15px;">
                            <input type="password" id="form2Example2" class="form-control" asp-for="Password" placeholder="*********" />
                            <label class="form-label" for="form2Example2">Password</label>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4" style="margin-top:15px;">
                            <div class="col d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked asp-for="isSelected" style="margin-left:15px;" />
                                    <p style="color:white">Remember Me</p>
                                </div>
                            </div>

                            <div class="col" style="margin-top:10px;">
                                <!-- Simple link -->
                                <a href="#!" style="margin-left:15px;">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-top:15px;" asp-action="Logining">Sign in</button>

                        <!-- Register buttons -->
                        <div class="text-center" style="margin-top:10px;">
                            <p style="color:white">Not a member? <a href="#!">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}



